@import "textEditor";
*, *:before, *:after {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}
span{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus{
	  outline: none;
    outline-color: none;
    
    outline-width: 0;

}
.new-document-form{
	width: 550px;
	///margin-bottom: 10px;
	//border: solid 1px red;
	//top: -40px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 450px;
    height: 150px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    margin-top: 10px;
    line-height: 150px;
    
    font-size: 32px;
    color: #DDD;
}

.upload-stats{
	font-size: 11px;
	margin-top: 10px;
	overflow: auto;
	
	md-progress-linear{
		margin-bottom: 10px;
	}
	img{
		margin-top: 5px;
	}
	padding-bottom: 5px;
	border-bottom: solid 2px #DDD;
}
.upload-progress{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	color: #000111;
}

.upload-section{
	height: 150px;
	line-height: 100px;
}
.md-dialog-container{
	top: 0px;
}
.editObject{
	width: 700px;
	min-height: 650px;
	max-height: 670px;
	height: 100%;
	.objectFileName{
		margin: 5px;
		text-align: center;
	}
	.threeDeeDiv{
		width: 320px;
		height: 400px;
		background: #e2e2e2;
		md-progress-circular{
			position: absolute;
			top: 210px;
			left: 120px;
		}
	}
	//top: -40px;
	.topDiv{
		clear: both;
		overflow: auto;
	}

	.img-div{
		width: 320px;
		background-color: #3F51B5;
		color: #e2e2e2;
		float: left;
	}

	.cropper-container{
		overflow: auto;
    width:320px;
    min-height:150px;
    padding: 0;
    img{
    	margin: 0;
    }
		
	}

	



	.chipDiv{
		margin-bottom: 10px;
		span{
			display: inline-block;
			height: 26px;
			border-radius: 16px;
			background: #e2e2e2;
			font-weight: bold;
			font-size: 14px;
			line-height: 26px;
			padding: 0 10px;
			color: #424242;
			margin-top: 5px;
			margin-right: 5px;
			cursor: pointer;
			
		}
		.act{
			background: #3F51B5;
			color: #e2e2e2;
		}
	}
	.metadataDiv{
		width: 354px;
		float: left;
		//background-color: green;
		margin-left: 10px;
		//height: 550px;
		.chipDiv{
			margin-bottom: 20px;
		}
	}
	.saveButton{
			margin: 10px 0;
			
		}
	.footerDiv{
		clear: both;
		
	}
	.addAnnotationDiv{
		text-align: center;
		width: 320px;
		vertical-align: middle;
		padding: 5px 0;
		//height: 26px;
		//background-color: brown;
		.mdi{
			font-size: 26px;
			vertical-align: middle;
		}
		span{
			font-size: 14px;
			vertical-align: middle;
			text-transform: uppercase;
		}
	}
}

.add-data-form{
	width: 650px;
	min-height: 400px;
	max-height: 650px;
	//top: -40px;
	.saveButtonDiv{
		margin: 0;
		button {
			margin: 10px 0;
		}
	}
	//overflow: auto;
	.img-container{
		float: left;
		display: inline-block;

	}

	
	.upload-item-options{
		display: inline-block;
		margin: 5px 0 0 5px;
		span{
			display: inline-block;
			height: 16px;

			line-height: 16px;
			vertical-align: middle;
		}
		i{
			-webkit-user-select: none; /* Chrome/Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+ */

			/* Rules below not implemented in browsers yet */
			-o-user-select: none;
			user-select: none;
			-webkit-tap-highlight-color:transparent;
		}
		.mdi{
			font-size: 18px;
			vertical-align: middle;
			cursor: pointer;
			-webkit-user-select: none; /* Chrome/Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+ */

			/* Rules below not implemented in browsers yet */
			-o-user-select: none;
			user-select: none;

		}
	}
}
.deleteObjectConfirmation{
	//top: -40px;
	padding: 10px;
	p{
		font-size: 14px;
		margin-top: 0px;
	}

	span.fileName{
		display: block;
		font-size: 12px;
		margin-bottom: 5px;
	}
	.md-button{
		padding: 0;
		margin: 0 30px 0 0;
	}

	.buttonDiv{
		padding: 0;
		margin: 10px 0 0 0;
	}
}
.edit-node-form{
	top: -40px;
	width: 650px;
}

.messages{
	height: 40px;
}

md-toast.md-center{

  margin-left: auto;
  margin-right: auto;
  left: 0; right: 0;

}

.create{
	margin-top: 20px;
	@import "decisionTree"; 
	.mdi{
		margin-right: 10px;
		font-size: 34px;
	}
	.row{
		padding: 0;
	}
	.columns{
		margin: 0;
	}
	md-card{
		margin: 0;
		padding: 0;
		background: $grey1;

	}
	.left-menu{
		margin-bottom: 10px;
		padding: 0 5px;
		md-card{
			height: 550px;
		}
		.tree-menu-item{
			//color: $navy2;
			&:hover{
				//color: darken($navy2, 10%);	
				cursor: pointer;
			}

		}
	}
	
	.left-messages{
		padding: 0 5px;
		md-card{
			height: 250px;
		}
	}

	.right-tree{
		padding: 0 5px;
		md-tabs{
			min-height: 600px;
			md-tabs-wrapper{
				//background: white;
			}
		}
		md-card{
			min-height: 750px;
		}

		md-card-content{
			text-align: left;
		}
	}
}