@import "textEditor";
*, *:before, *:after {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}
span{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus{
	  outline: none;
    outline-color: none;
    
    outline-width: 0;

}
.new-document-form{
	width: 550px;
	///margin-bottom: 10px;
	//border: solid 1px red;
	//top: -80px;
	.inputDiv{
		height: 80px;
		//overflow: hidden;
	}

	.md-button{
		margin: 0;
	}
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 450px;
    height: 150px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    margin-top: 10px;
    line-height: 150px;
    
    font-size: 32px;
    color: #DDD;
}

// Object List 
.objectsListDiv{
	img{
		height: 80px;
	}
	p:first-child{
		margin: 2px;
		font-size: 12px;
		font-weight: bold;
		text-transform: lowercase;
	}

	.md-subheader-inner{
		margin: 2px;
		padding: 0;

	}

	.objectContainer{
		display: inline-block;
		margin: 0 5px 5px 0;
		background: #c2c2c2;
		padding: 3px;
	}
}

//




.upload-stats{
	font-size: 11px;
	margin-top: 10px;
	overflow: auto;
	
	md-progress-linear{
		margin-bottom: 10px;
	}
	img{
		margin-top: 5px;
	}
	padding-bottom: 5px;
	border-bottom: solid 2px #DDD;
}
.upload-progress{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	color: #000111;
}

.upload-section{
	height: 150px;
	line-height: 100px;
}
.md-dialog-container{
	top: 0px;
}


.editObject{
	width: 700px;
	max-height: 670px;
	height: 100%;
	.objectFileName{
		margin: 5px;
		text-align: center;
	}
	.threeDeeDiv{
		width: 320px;
		height: 400px;
		background: #e2e2e2;
		md-progress-circular{
			position: absolute;
			top: 210px;
			left: 120px;
		}
	}

	.details{
		span{
			font-weight: bold;
		}
	}
	md-content{
		padding: 5px;
	}
	//top: -40px;
	.topDiv{
		clear: both;
		overflow: auto;
	}
	.objectDiv{
		width: 325px;
		overflow: auto;
		float: left;
		
	}
	.img-div{
		width: 320px;
		background-color: #3F51B5;
		color: #e2e2e2;
		float: left;
	}

	.cropper-container{
		overflow: auto;
    width:320px;
    min-height:150px;
    padding: 0;
    img{
    	margin: 0;
    }
		
	}

	



	.chipDiv{
		margin-bottom: 10px;
		span{
			display: inline-block;
			height: 26px;
			border-radius: 16px;
			background: #e2e2e2;
			font-weight: bold;
			font-size: 14px;
			line-height: 26px;
			padding: 0 10px;
			color: #424242;
			margin-top: 5px;
			margin-right: 5px;
			cursor: pointer;
			
		}
		.act{
			background: #3F51B5;
			color: #e2e2e2;
		}
	}
	.metadataDiv{
		width: 360px;
		float: right;
		md-input-container{
			width: 355px;
		}
		//background-color: green;
		//height: 550px;
		.chipDiv{
			margin-bottom: 20px;
		}
	}
	.saveButton{
			margin: 10px 0;
			
		}
	.footerDiv{
		clear: both;
		
	}
	.addAnnotationDiv{
		text-align: center;
		width: 320px;
		vertical-align: middle;
		padding: 5px 0;
		//height: 26px;
		//background-color: brown;
		.mdi{
			font-size: 26px;
			vertical-align: middle;
		}
		span{
			font-size: 14px;
			vertical-align: middle;
			text-transform: uppercase;
		}
	}
}

.objectDetails{
	max-height: 530px;
	
}
.add-data-form{
	width: 650px;
	min-height: 400px;
	max-height: 650px;
	top: -40px;
	.saveButtonDiv{
		margin: 0;
		button {
			margin: 10px 0;
		}
	}
	//overflow: auto;
	.img-container{
		float: left;
		display: inline-block;

	}

	
	.upload-item-options{
		display: inline-block;
		margin: 5px 0 0 5px;
		span{
			display: inline-block;
			height: 16px;

			line-height: 16px;
			vertical-align: middle;
		}
		i{
			-webkit-user-select: none; /* Chrome/Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+ */

			/* Rules below not implemented in browsers yet */
			-o-user-select: none;
			user-select: none;
			-webkit-tap-highlight-color:transparent;
		}
		.mdi{
			font-size: 18px;
			vertical-align: middle;
			cursor: pointer;
			-webkit-user-select: none; /* Chrome/Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+ */

			/* Rules below not implemented in browsers yet */
			-o-user-select: none;
			user-select: none;

		}
	}
}
.deleteObjectConfirmation{
	top: -40px;
	padding: 10px;
	p{
		font-size: 14px;
		margin-top: 0px;
	}

	span.fileName{
		display: block;
		font-size: 12px;
		margin-bottom: 5px;
	}
	.md-button{
		padding: 0;
		margin: 0 30px 0 0;
	}

	.buttonDiv{
		padding: 0;
		margin: 10px 0 0 0;
	}
}
.editNodeForm{
	width: 750px;
	min-height: 450px;

	md-content{
		padding: 5px;
		//font-family: 'Arvo', serif;
	}

	.activeBlock{
		border: dashed 1px #a2a2a2;
		//padding: 2px;	
	}
	.storyBlockDiv{
		margin: 5px 0;
		div:first-child{
			padding: 2px;
		}
		//border: solid 1px red;
		md-whiteframe{
			background: #fff;
			border: solid 1px red;
		}

		md-card-title{
			padding: 12px 8px 8px;
		}

		md-card-content{
			padding: 8px;
			padding-top: 0;
		}

		.md-icon-button{
			padding: 0;
			width: 36px;
			height: 36px;
			line-height: 24px;
			vertical-align: middle;
		}
		md-card-actions{
			margin: 0px;
			.mdi{
				font-size: 24px;
				line-height: 24px;
			}
		}
		.md-headline{
			font-size: 22px;
			line-height: 30px;
		}
		.md-subhead {
			padding-top: 6px;
		}

		overflow: auto;
		textarea{
			rows: 120;
			outline: none;
			resize: none;
			overflow: hidden;
  		width: 734px;
  		height: 350px;
  		font-family: 'Arvo', serif;

		}

		h2{
			margin: 0;
		}

		input[type="text"] {
			width: 734px;
			font-size: 16px;
			height: 30px;
  		line-height: 30px;
  		font-size: 18px;
			font-family: 'Arvo', serif;

		}
	}

	.editNodeMenu{
		margin-bottom: 10px;

		ul{
			
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li{
			
			display: inline;

		}

		span{
			width: 32px;
			height: 32px;
			text-align: center;
			background: #c2c2c2;
			display: inline-block;
			font-size: 22px;
			line-height: 32px;
			
		}
		span.active{
			background: #f1f1f1;
		}

		


	}

}

.messages{
	height: 40px;
}

md-toast.md-center{

  margin-left: auto;
  margin-right: auto;
  left: 0; right: 0;

}

.create{
	margin-top: 20px;
	@import "decisionTree"; 
	.mdi{
		margin-right: 10px;
		font-size: 34px;
	}
	.row{
		padding: 0;
	}
	.columns{
		margin: 0;
	}
	md-card{
		margin: 0;
		padding: 0;
		background: $grey1;

	}
	.left-menu{
		margin-bottom: 10px;
		padding: 0 5px;
		md-card{
			height: 500px;
		}
		.tree-menu-item{
			//color: $navy2;
			&:hover{
				//color: darken($navy2, 10%);	
				cursor: pointer;
			}

		}
	}
	
	.left-messages{
		padding: 0 5px;
		md-card{
			height: 250px;
		}
	}

	.right-tree{
		padding: 0 5px;
		md-tabs{
			min-height: 600px;
			md-tabs-wrapper{
				//background: white;
			}
		}
		md-card{
			min-height: 750px;
		}

		md-card-content{
			text-align: left;
		}
	}
}