.new-document-form{
	width: 550px;
	///margin-bottom: 10px;
	//border: solid 1px red;
}

.messages{
	height: 50px;
}

.create{
	margin-top: 20px;
	@import "decisionTree"; 
	.mdi{
		margin-right: 10px;
		font-size: 34px;
	}
	.row{
		padding: 0;
	}
	.columns{
		margin: 0;
	}
	md-card{
		margin: 0;
		padding: 0;
		background: $grey1;

	}
	.left-menu{
		margin-bottom: 10px;
		padding: 0 5px;
		md-card{
			height: 550px;
		}
		.tree-menu-item{
			//color: $navy2;
			&:hover{
				//color: darken($navy2, 10%);	
				cursor: pointer;
			}

		}
	}
	
	.left-messages{
		padding: 0 5px;
		md-card{
			height: 250px;
		}
	}

	.right-tree{
		padding: 0 5px;
		md-tabs{
			min-height: 600px;
			md-tabs-wrapper{
				//background: white;
			}
		}
		md-card{
			min-height: 750px;
		}

		md-card-content{
			text-align: left;
		}
	}
}