//@import "foundation";
@import "colors";
//@import "create";
body{ 
	//background-image: url(../images/tree.svg);
}
$row-width: 1600px;

.top-menu{
	background: $navy1;
	margin-bottom: 20px;
}
object{
	width: 100%;
}
.content{
	//margin-top: 40px;
	border: solid 1px red;
}

.top-menu-fixed{
	
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: $red1;
	z-index: 30;
}

.right-tree{
	height: 800px;
}
*, *:before, *:after {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}
span{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus{
	outline: none;
  outline-color: none;
  outline-width: 0;

}

@import 'createMode';
@import 'tree/newDocument';
@import 'digitalObjects/addData';
@import 'digitalObjects/editObject';
@import 'digitalObjects/deleteObject';
@import 'stories/story';
@import 'digitalObjects/objectDetails';
