@import "foundation";
@import "colors";

body{ 
	//background-image: url(../images/tree.svg);
}
.top-menu{
	background: $navy1;
	margin-bottom: 20px;
}
object{
	width: 100%;
}
.content{
	margin-top: 40px;
	border: solid 1px red;
}

.logo{
}
.top-menu-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: $red1;
	z-index: 10;
}

.right-tree{
	height: 900px;
}