.add-data-form{
  width: 650px;
  min-height: 400px;
  height: 650px;
  top: 0;
  
  //overflow: auto;
  .img-container{
    float: left;
    display: inline-block;

  }

  
  .upload-item-options{
    display: inline-block;
    margin: 5px 0 0 5px;
    span{
      display: inline-block;
      height: 16px;
      line-height: 16px;
      vertical-align: middle;
    }
    
    .mdi{
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 450px;
    height: 150px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    margin-top: 10px;
    line-height: 150px;

    font-size: 32px;
    color: #DDD;
  }
  
  .upload-stats{
    font-size: 11px;
    margin-top: 10px;
    overflow: auto;
    
    md-progress-linear{
      margin-bottom: 10px;
    }
    img{
      margin-top: 5px;
    }
    padding-bottom: 5px;
    border-bottom: solid 2px #DDD;
  }
  .upload-progress{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #000111;
  }

  .upload-section{
    height: 150px;
    line-height: 100px;
  }

}






