<md-content class="create">
  <div class="row">
    <div class="small-12 medium-3 columns">
      <div class="row">
        <div class="small-12 columns left-menu">
          <md-card class="padding menu-card">
            <md-card-content >
              <md-list >
                <md-list-item class="tree-menu-item" ng-click="vm.startNewDocument($event)">
                  <i class="mdi mdi-file-document" ></i> <p >New document</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.addNewNode()">
                  <i class="mdi mdi-plus"></i> <p>Add new node</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.removeNode()">
                  <i class="mdi mdi-close"></i> <p>Remove node</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.deleteDocument()"> 
                  <i class="mdi mdi-delete"></i> <p>Delete document</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.deleteDocument()"> 
                  <i class="mdi mdi-table-edit"></i> <p>Edit node</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.deleteDocument()"> 
                  <i class="mdi mdi-view-dashboard"></i> <p>Preview node</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.deleteDocument()"> 
                  <i class="mdi mdi-table-edit"></i> <p>Edit connection</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="tree-menu-item" ng-click="vm.deleteDocument()"> 
                  <i class="mdi mdi-view-dashboard"></i> <p>Preview connection</p>
                </md-list-item>
                <md-divider></md-divider>
              </md-list>
              
            </md-card-content>
          </md-card>
        </div>
        <div class="small-12 columns left-messages">
          <md-card class="padding message-card">
            <md-card-content >
              <p>System messages</p>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  
    <div class="small-12 medium-9 columns right-tree">
      <md-card class="padding message-card">
        <md-card-content >
           <starc-decision-tree></starc-decision-tree>
        </md-card-content>
      </md-card>
      

    </div>

  </div>

</md-content>
