<md-dialog flow-init class="edit-object object-details" padding aria-label="Edit a node">
<md-toolbar>
    <div class="md-toolbar-tools">
      <p class="objectFileName">{{object.fileName}}</p>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="close" ng-click="close()">
        <i class="mdi mdi-close dialog-close"  ></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content >
    <div class="topDiv">
      <div class="objectDiv">
        <div class="img-div">
          <image-cropper 
            ng-show="objectType === 'image'" 
            object="objectType" 
            image="object.fileLocation" 
            mode="'show'" 
            setannotation="setAnnotation(annotation)">
          </image-cropper>
          <three-dee-renderer
                ng-show="objectType === '3d'"  
                object="objectType" 
                docid="object.id"
                mode="'show'" 
                setannotation="setAnnotation(annotation)">
          </three-dee-renderer>
          
        </div>
        
        
      </div>
      <div class="metadataDiv">
        <div class="chipDiv">

          <span ng-click="showDescription()" class="{{activeTabIndicator[0]}}">Object description</span>
          <span ng-repeat="annotation in annotations" ng-click="showAnnotation($index)" class="{{activeTabIndicator[1 + $index]}}">
            {{annotation.description.title}}
            <i ng-click="removeAnnotation($index)" class="mdi mdi-close"></i>
          </span>
          
        </div>
        <p class="details"><span>Title:</span> {{currentDescription.title}}</p>
        <p class="details"><span>Tags:</span> {{currentDescription.tags}}</p>
        <p class="details"><span>Description:</span> {{currentDescription.text}}</p>
       
      </div>
      
    </div>

   
    
  </md-content>
</md-dialog>